# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual Environment
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/

# Dataset files (if any)
*.wav
*.mp3
*.csv
